[Desktop Entry]
Version    = 1.5
Type       = Application
Name       = tuxedo-systeminfos
Comment    = TUXEDO Systeminfos Script
Icon       = tuxedo-systeminfos
Categories = System;
Hidden     = true
